@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.main-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}

.app-container {
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
    
}