@import url("https://fonts.googleapis.com/css?family=Rajdhani");

.sidebar {
  width: 15vw;
  font-family: "Rajdhani", sans-serif;
  border-left: 2px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.sidebar button {
  border-radius: 4px;
  border: 1px solid black;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.sidebar button:hover {
  background-color: black;
  color: white;
}

.stock-code {
  font-weight: bold;
}

.sidebar p {
  margin: 0;
}

.buttonwrapper {
  display: flex;
  flex-direction: column;
}

.stockform {
  display: flex;
}
.stockform input {
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  width: 15em;
  height: 2em;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
}
.stockform img {
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
}

.stockform img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  border: 5px solid white;
}

.error-box {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 5em;
  width: 11em;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  -webkit-animation: fadeinout 3s linear forwards;
  -moz-animation: fadeinout 3s linear forwards;
  -ms-animation: fadeinout 3s linear forwards;
  -o-animation: fadeinout 3s linear forwards;
  animation: fadeinout 3s linear forwards;
}

.error-box p {
  padding: 2em 0 2em 0;
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  75%,
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  75%,
  50% {
    opacity: 1;
  }
}
@-moz-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  75%,
  50% {
    opacity: 1;
  }
}
@-o-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  75%,
  50% {
    opacity: 1;
  }
}
@-ms-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  75%,
  50% {
    opacity: 1;
  }
}
